# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Testing
coverage

# Turbo
.turbo

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
