auto-install-peers=true
public-hoist-pattern[]=*lucide*
public-hoist-pattern[]=@radix-ui/*
public-hoist-pattern[]=class-variance-authority
public-hoist-pattern[]=react-hook-form
public-hoist-pattern[]=@hookform/*
public-hoist-pattern[]=zod
